.hero.is-dark .navbar-item.has-dropdown .navbar-dropdown
{
    color: #0a0a0a;
}

.hero.is-dark .navbar-item.has-dropdown a.navbar-link
{
    color: rgb(245, 245, 245);
}

.hero.is-dark .navbar-item.has-dropdown:hover a.navbar-link
{
    color: rgb(245, 245, 245);
    background-color: #292929;
}

.hero.is-dark .navbar-item.has-dropdown .navbar-dropdown .navbar-item:hover
{
    color: #0a0a0a;
    background-color: whitesmoke;
}